<section>
    <h1 class="text-center">
        <span class="badge bg-secondary"> {{name}} </span>
    </h1>
    <hr>
    <div class="my-3 py-1">
        <p class="text-center"><i> {{description}} </i></p>
        <p class="text-center">Price: {{price}} </p>
        <p class="text-center">Category: {{category}} </p>
    </div>
    <hr>
    <div class="my-4">
        {{> titlen title='Features' main=true }}
        {{#with features}}
        <div class="my-3">
            {{> titlen title='Processor' notmain=true }}
            {{#with processor}}
            {{> mac name='Brand: ' data=brand}}
            {{> mac name='Model: ' data=model}}
            {{> mac name='Speed: ' data=speed}}
            {{> mac name='Cores: ' data=cores}}
            {{> mac name='Cache: ' data=cache}}
            {{/with}}
        </div>
        <hr>
        <div class="my-3">
            {{> titlen title='Memory' notmain=true}}
            <br>
            {{#with memory}}
            {{> mac name='Type: ' data=type }}
            {{> mac name='Size: ' data=size }}
            {{> mac name='Speed: ' data=speed }}
            {{/with}}
        </div>
        <hr>
        <div class="my-3">
            {{> titlen title='Storage' notmain=true}}
            <br>
            {{#with storage}}
            {{> mac name='Type: ' data=type }}
            {{> mac name='Size: ' data=size }}
            {{/with}}
        </div>
        <hr>
        <div class="my-3">
            {{> titlen title='Display' notmain=true}}
            {{#with display}}
            {{> mac name='Size: ' data=size }}
            {{> mac name='Resolution: ' data=resolution }}
            {{> mac name='Technology: ' data=technology }}
            {{> mac name='Color_space: ' data=color_space }}
            {{> mac name='Brightness: ' data=brightness }}
            {{> mac name='Refresh_rate: ' data=refresh_rate }}
            {{/with}}
        </div>
        <hr>
        <div class="my-3">
            {{> titlen title='Graphics' notmain=true}}
            {{#with graphics}}
            {{> mac name='Brand: ' data=brand }}
            {{> mac name='Model: ' data=model }}
            {{> mac name='Memory: ' data=memory }}
            {{/with}}
        </div>
        <hr>
        <div class="my-3">
            {{> titlen title='Ports' notmain=true}}
            {{#each ports}}
            {{> mac name='Type: ' data=type }}
            {{> mac name='Count: ' data=count }}
            {{/each}}
            <p class="text-center"> {{ports.[0].features}} </p>
            {{#each features}}
            {{!-- <span><b> {{this}}/ </b></span> --}}
            {{!-- {{> mac name='Type: ' data=type }} --}}
            {{/each}}
            {{!-- <p class="text-center"> {{ports.[0].features}} </p> --}}
        </div>
        <hr>
        <div class="my-3">
            {{> titlen title='Battery' notmain=true}}
            <br>
            {{#with battery}}
            {{> mac name='Type: ' data=type }}
            {{> mac name='Capacity: ' data=capacity }}
            {{> mac name='Life: ' data=life }}
            {{/with}}
        </div>
        <hr>
        <div class="my-3">
            {{> titlen title='Weight and dimensions' }}
            {{> mac name='Weight: ' data=weight }}
            {{#with dimensions}}
            {{> mac name='Hight: ' data=height }}
            {{> mac name='Width: ' data=width }}
            {{> mac name='Depth: ' data=depth }}
            {{/with}}
        </div>
        <hr>
        <div class="my-3">
            {{> titlen title='Operating system' }}
            {{> mac data=operating_system }}
        </div>
        <hr>
        <div class="my-3">
            {{> titlen title='Accessories' }}
            {{#each accessories}}
            {{> mac name='Name: ' data=name }}
            {{> mac name='Price: ' data=price }}
            {{/each}}
        </div>
        {{/with}}
    </div>
</section>