<header class="mx-5">
    {{#with navigation}}
    {{> menushop links=links }}
    {{/with}}
</header>

<main class="mx-5 my-5">
    <div>
        <h1 class="py-3"> {{header}} </h1>
        <div class="row g-3">
            <div class="col-8">
                {{#with contacts_data}}
                <h2 class="py-3"> {{title}} </h2>
                {{#each buttons}}
                {{#if isPrimary}}
                <button class="btn btn-warning"> {{text}} </button>
                {{else}}
                {{#if isOutline}}
                <button class="btn btn-outline-warning"> {{text}} </button>
                {{/if}}
                {{/if}}
                {{/each}}
                {{#with form}}
                {{#with input}}
                <div class="row">
                    {{> inputform dim=surname}}
                    {{> inputform dim=name}}
                </div>
                <div class="row pb-4">
                    {{> inputform dim=phone}}
                    {{> inputform dim=email}}
                </div>
                {{/with}}
                <hr>
                {{#each switch}}
                <div class="form-check form-switch">
                    <label class="form-check-label"> {{text}} </label>
                    {{#if isActive}}
                    <input type="checkbox" class="form-check-input" checked>
                    {{else}}
                    <input type="checkbox" class="form-check-input">
                    {{/if}}
                </div>
                {{/each}}
                {{/with}}
                {{/with}}
                <hr>
                {{#with delivery}}
                <h2 class="py-3"> {{title}} </h2>
                <div>
                    <div class="card">
                        <div class="row p-3">
                            {{#each select}}
                            <div class="col-6">
                                <label class="form-label form-label-bg"> {{label}} </label>
                                <select class="form-select form-select-lg">
                                    <option selected> {{placeholder}} </option>
                                    {{#each options}}
                                    <option value="{{value}}"> {{text}} </option>
                                    {{/each}}
                                </select>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="my-4">
                    {{#each delivery_type}}
                    <div class="form-check py-1">
                        <label class="form-check-label"> {{type}} </label>
                        <input name="delivery_type" type="radio" class="form-check-input">
                    </div>
                    {{/each}}
                </div>
                <hr>
                <div class="my-4">
                    {{#with payment}}
                    <h2 class="pb-3"> {{title}} </h2>
                    {{#each list}}
                    <div class="form-check py-2">
                        <label class="form-check-label"> {{type}} </label>
                        <input name="payment" type="radio" class="form-check-input">
                        {{#if description}}
                        <div class="form-label"> {{description}} </div>
                        {{/if}}
                    </div>
                    {{/each}}
                    {{/with}}
                </div>
                <hr>
                <div class="my-4">
                    {{#with contact}}
                    <h2> {{title}} </h2>
                    <div class="row">
                        {{> inputform dim=surname}}
                        {{> inputform dim=name}}
                    </div>
                    <div class="row">
                        {{> inputform dim=phone}}
                        {{> inputform dim=email}}
                    </div>
                    {{/with}}
                </div>
                <hr>
                <div class="my-5">
                    {{#with coment}}
                    <label class="form-label"> {{label}} </label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    {{/with}}
                </div>
                <hr>
                {{/with}}
                <div class="py-4">
                    {{#with coupon}}
                    <h2> {{title}} </h2>
                    {{#with select}}
                    <div class="py-3">
                        {{#with availabel_coupon}}
                        <label class="form-label"> {{label}} </label>
                        <select class="form-select form-select-lg">
                            <option selected> {{placeholder}} </option>
                            {{#each options}}
                            <option value="{{value}}"> {{text}} </option>
                            {{/each}}
                        </select>
                        {{/with}}
                    </div>
                    <div>
                        {{#with friend_coupon}}
                        <label class="form-label"> {{label}} </label>
                        <select class="form-select">
                            <option selected> {{placeholder}} </option>
                            {{#each options}}
                            <option value="{{value}}"> {{text}} </option>
                            {{/each}}
                        </select>
                        {{/with}}
                    </div>
                    {{/with}}
                    <div>
                        {{#with add}}
                        <div class="my-4">
                            {{#with friend}}
                            <label class="form-label"> {{label}} </label>
                            <input class="form-control form-control-lg" placeholder="{{placeholder}}">
                            <div class="form-text"> {{caption}} </div>
                            {{/with}}
                        </div>
                        <div class="col-11">
                            {{#with colleague}}
                            <label class="form-label"> {{label}} </label>
                            <input class="form-control" placeholder="{{placeholder}}">
                            <div class="form-text"> {{caption}} </div>
                            {{/with}}
                        </div>
                        {{/with}}
                    </div>
                    {{/with}}
                </div>
                <hr>
                <div>
                    {{#with quiz}}
                    <h2> {{title}} </h2>
                    <div class="my-4">
                        {{#with preference}}
                        <div class="form-label"> {{title}} </div>
                        {{#each options}}
                        <div class="form-check my-4">
                            <label class="form-check-label"> {{this}} </label>
                            {{#if @first}}
                            <input name="device" type="radio" class="form-check-input" checked>
                            {{else}}
                            <input name="device" type="radio" class="form-check-input">
                            {{/if}}
                        </div>
                        {{/each}}
                        {{/with}}
                        <div class="my-3">
                            {{#with your_expirience}}
                            <label class="form-label"> {{label}} </label>
                            <input class="form-control">
                            {{/with}}
                        </div>
                        <div class="my-3">
                            {{#with purchase_frequency}}
                            <label class="form-label"> {{label}} </label>
                            <select class="form-select">
                                <option selected> {{placeholder}} </option>
                                {{#each options}}
                                <option value="value"> {{text}} </option>
                                {{/each}}
                            </select>
                            {{/with}}
                        </div>
                        <div class="my-3">
                            {{#with factors}}
                            <div class="form-label"> {{title}} </div>
                            {{#each options}}
                            <div class="form-check my-3">
                                <label class="form-check-label"> {{this}} </label>
                                {{#if @first}}
                                <input name="factors" type="checkbox" class="form-check-input" checked>
                                {{else}}
                                <input name="factors" type="checkbox" class="form-check-input">
                                {{/if}}
                            </div>
                            {{/each}}
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
            <div class="col-4 mb-3">
                <div class="card py-3 px-2">
                    {{#each action_block}}
                    {{#if isSuccess}}
                    <div class="py-2">
                        <button class="btn btn-success"> {{text}} </button>
                    </div>
                    {{else}}
                    {{#if isDanger}}
                    <div class="py-2">
                        <button class="btn btn-danger"> {{text}} </button>
                    </div>
                    {{else}}
                    {{#if isInfo}}
                    <div class="py-2">
                        <button class="btn btn-info"> {{text}} </button>
                    </div>
                    {{/if}}
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </div>
                {{#with total}}
                <div class="card my-3 p-3">
                    <h2 class="card-title"> {{title}} </h2>
                    {{#each item_list}}
                    <p>{{name}}: {{price}}</p>
                    {{/each}}
                    <hr>
                    {{#each additional_info}}
                    <p>{{text}}: {{value}}</p>
                    {{/each}}
                    <hr>
                    {{#with total_price}}
                    <p> {{text}}: {{value}} </p>
                    {{/with}}
                    <hr>
                    {{#each button}}
                    {{#if isPrimary}}
                    <div class="my-3">
                        <button class="btn btn-primary"> {{text}} </button>
                    </div>
                    {{else}}
                    {{#if isOutline}}
                    <div>
                        <button class="btn btn-outline-primary"> {{text}} </button>
                    </div>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </div>
                {{/with}}
            </div>
        </div>
    </div>
</main>

<footer class="m-5">
    {{> footershop footer=footer }}
</footer>